@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap");
.login-message {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  margin-top: 5rem;
  margin-bottom: -4rem;
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
}
.login-message:hover {
  color: black;
}
@media only screen and (max-width: 600px) {
  .login-message {
    margin-bottom: -3rem;
  }
}
