@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap");

.cart-total {
  font-family: "Open Sans", sans-serif;
  float: right;
  margin-top: 10vh;
  margin-right: 20vw;
  font-size: 1.3rem;
}
.empty-cart {
  margin-top: 10vh;
  font-size: 1.3rem;
}
