@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap");
.top {
  margin-top: 8vh;
}
.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  font-family: "Open Sans", sans-serif;
  margin: 2vh auto;
}
.product-list img {
  max-width: 100%;
  min-width: 20vh;
  max-height: 45vh;
}

.product-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 7vh;
  margin-right: 7vh;
  margin-bottom: 10vh;
}
.product-box a {
  text-decoration: none;
  color: black;
  text-align: center;
}
.description {
  margin-top: -2vh;
}
.price {
  margin-top: -2vh;
}
button {
  width: 10vw;
  min-width: 8rem;
  height: 5vh;
  border-radius: 10px;
  border: black;
  color: white;
  background-color: rgb(41, 41, 41);
  font-size: 1rem;
  cursor: pointer;
}
button:hover {
  background-color: rgb(54, 54, 54);
}
.buttons {
  display: inline-flex;
}
.add-to-cart-action:hover {
  background-color: rgb(50, 168, 40);
}
.add-to-cart-action {
  background-color: rgb(50, 168, 40);
}
.remove-from-cart-button {
  margin-left: 0.2rem;
}
.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 600px) {
  .buttons {
    width: 80%;
  }
}
